<a href="https://colab.research.google.com/github/MelsonHeo00/Summer_MicroCredential/blob/main/BasicsPart3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro to Python Part 3

## Conditionals and Loop

### Conditionals
#### IF/ELIF/ELSE Statements

In [51]:
"""
if (condition):
  do something
"""

# This comment indicates the basics of if statements, if the condition statement is met, it will follow up with the action after the colon

'\nif (condition):\n  do something\n'

In [52]:
# Example 1: Comparison of two numbers
# In this example, we will be comparing two numbers 4 and 7. As shown within the if statement, we compare 4 and 7
# Since generally 4 < 7, it will produce the else statement condition instead of the if statement condition

if (4 > 7): # The two numbers 4 and 7 are being compares
  print("right") # If 4 > 7 was correct, then it will print out "right", however it is not correct so it will not produce this outcome
else: # if the condition all fails, else statments are generally the backup where it will produce regardless of the previous conditions
  print("wrong") # Since 4 > 7 is wrong, it will print this out as a result

wrong

In [53]:
# Example 2: Comparison of two variables
# In this example, we will be comparing two variables
# The two variables will be compared through declaring an integer

a = 3 # Variable a will be equal to 3
b = 5 # Variable b will be equal to 5
if a > b: # The two variables will be compared
  print("Yes it is") # If a > b was correct, then it will output "Yes it is"
else: # Otherwise condition
  print("Try Again") # If a > b is not true, then it will output "Try Again"

Try Again

In [54]:
# Example 3: Comparison of a string variable
# In this example, the variable will be declared a string and will be compared within the if statement

drink = "Tea" # The variable drink will be equal to Tea

# Side note: When comparing a variable, == is used to compare when they are equal
if drink == "Coffee": # The variable drink will be compared to the string "Coffee"
  print("Humanity runs on Coffee") # If the variable drink is equal to "Coffee", then it will output this statement
else: # If the previous conditions do not apply, it will output this
  print("When there is a tea, there is a hope!")

When there is a tea, there is a hope!

In [55]:
drink = "Coke"

if drink == "Coffee":
  print("Humanity runs on Coffee")
elif drink == "Water":
  print("Water is the life!")
elif drink == "Coke":
  print("Coke is the new fuel of programmer")
else:
  print("When there is a tea, there is a hope!")

Coke is the new fuel of programmer

## Loops

### For Loops

In [ ]:
"""
for interator in array:
  do something
"""

'\nfor interator in array:\n  do something\n'

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
for num in my_list:
  print(num)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in my_list:
  if i % 2 == 0: # any time the number will give you the remainder of 2
    print(i)

2
4
6
8
10

In [ ]:
for i in my_list:
  if i % 1 != 0:
    print(i)

In [ ]:
# Interview Question :)
my_list = [1,2,3,4,5]
list_sum = 0

for num in my_list:
  list_sum = list_sum + num
print(list_sum)

15

In [ ]:
my_string = "Hello World"

for letters in my_string:
  print(letters)

H
e
l
l
o

W
o
r
l
d

In [ ]:
my_list = [(1,2),(3,4),(4,5),(6,7)]
len(my_list)

4

In [ ]:
for tup in my_list:
  print(tup)

(1, 2)
(3, 4)
(4, 5)
(6, 7)

In [ ]:
for a,b in my_list:
  print(b)

2
4
5
7

In [ ]:
for a,b in my_list:
  print(a)

1
3
4
6

In [ ]:
my_list = [(1,2,3),(4,5,6),(7,8,9)]

In [ ]:
for a,b,c in my_list:
  print(b,c)

2 3
5 6
8 9

In [ ]:
my_dict = {"k1": 1, "k2": 2, "k3":3}

In [ ]:
for i in my_dict:
  print(i)

k1
k2
k3

In [ ]:
my_dict.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [ ]:
for i in my_dict.items():
  print(i)

('k1', 1)
('k2', 2)
('k3', 3)

In [ ]:
for a,b in my_dict.items():
  print(b)

1
2
3

In [ ]:
## How to define a loop
# For loops with
# List
# String
# Tuples
# Dictionary

### While Loops

In [38]:
i = 0
while i < 5:
  print(i)
  i = i + 1

0
1
2
3
4

In [42]:
i = 10
while i < 5:
  print(i)
  i = i + 1
else:
  print("i is not less than 5")

i is not less than 5

### Pass, Break, and Continue

In [45]:
i = [1,2,3,4,5]
for items in i:
  # Comment
  pass # this will pass the code
print("I will work after")

I will work after

In [57]:
my_string = "Hello World"

for letters in my_string:
  if letters == "r":
    break # breaks the code when the condition is met
  print(letters)

H
e
l
l
o

W
o

In [59]:
my_string = "Hello World"

for letters in my_string:
  if letters == "e":
    continue
  print(letters)

H
l
l
o

W
o
r
l
d

In [60]:
i = 0
while i < 5:
  if i == 3:
    break
  print(i)
  i = i + 1

0
1
2

## Most Used Built-In functions in Python

### 1) Range Function

In [61]:
for num in range(10):
  print(num)

0
1
2
3
4
5
6
7
8
9

In [62]:
for num in range(3,10):
  print(num)

3
4
5
6
7
8
9

In [63]:
for num in range(0,11,2):
  print(num)

0
2
4
6
8
10

In [65]:
my_list = [1,2,3,4,5,6,7,8,9,10]
range(10)
list(range(10))
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 2) Enumerate
*It gives back us an index count and object itself*

In [66]:
word = "Batman"
for items in word:
  print(items)

B
a
t
m
a
n

In [67]:
for items in enumerate(word):
  print(items)

(0, 'B')
(1, 'a')
(2, 't')
(3, 'm')
(4, 'a')
(5, 'n')

In [70]:
for a,b in enumerate(word):
  print(a,b)

0 B
1 a
2 t
3 m
4 a
5 n

In [71]:
for a,b in enumerate(word):
  print(a)
  print(b)
  print("\n")

0
B


1
a


2
t


3
m


4
a


5
n

### 3) Zip

In [72]:
list1 = [1,2,3,4,5]
list2 = ["a","b","c","d","e"]
list3 = ["a","b","c"]

In [73]:
list4 = zip(list1, list2)

In [74]:
print(list4)

<zip object at 0x7ff9b470a820>

In [75]:
for items in zip(list1, list2):
  print(items)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(5, 'e')

In [78]:
for items in zip(list1,list2,list3):
  print(items)

(1, 'a', 'a')
(2, 'b', 'b')
(3, 'c', 'c')

In [80]:
for a,b,c in zip(list1,list2,list3):
  print(b)

a
b
c